<!DOCTYPE html>
<html lang="en">
<head>
<link rel="icon" href="../../static/resource/favicon.ico">
	<link  rel="stylesheet" href="/assets/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/application.css">
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <title>Locked</title>
</head>

<body>

	<div class="container">
    
    <div class="row">
      <p align="left" class="display">
      User: {{ user }} | 
      <a href = "/index"  class="top_menu">Go Back</a>
      |
      <a href = "/auth/logout"  class="top_menu">Logout</a>
      </p> 
    </div>

    <div class="row">
	<h3 class="text-danger">This task is being edited by another user. Please try with the other tasks.
	</h3>
    </div>
 

    
    </div>

</body>
</html>
